{% load staticfiles %}
{% load notifications_tags %}
{% notifications_unread as unread_count %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="码二哥小站是一个面向开发者和读者的知识分享社区。码二哥小站专注于提升写作体验和阅读感受，为创作者提供一个稳定和谐的环境，为读者提供一个简洁舒服的阅读界面，为大家创造一个和谐的社区，烦请大家多提反馈意见，敬请期待！">
    <meta name="author" content="码二哥">
    <meta name="keywords" content="开发者,码二哥,小站,博客,开发者,程序猿,程序媛,极客,编程,代码,开源,IT网站,Developer,Programmer,Coder,Geek,技术社区" />

    <link href="{% static 'img/icon25.png' %}" rel="SHORTCUT ICON">
    <title>{% block title %}码二哥{% endblock %}</title>
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">码二哥小站</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              {% block active %}
            <li class="active"><a href="/">首页</a></li>
            <li><a href="{% url 'blog' %}">博客</a></li>
            <li><a href="{% url 'aboutus' %}">关于我们</a></li>
              {% endblock %}
          </ul>
         <form class="navbar-form navbar-left" method="get" action="{% url 'search' %}">
            <div class="form-group">
              <input name="keyword" type="text" class="form-control" placeholder="最近热点文章">
            </div>
            <input type="submit" class="btn btn-primary" value="搜索"/>
          </form>

        {% if request.user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">你好:{{ request.user.username }}
{% if unread_count %}
                        <svg viewBox="0 0 8 8"
                             width="8px"
                             height="8px"
                             id="my_svg"
                             >
                            <circle cx="4"
                                    cy="4"
                                    r="4"
                                    fill="#ff6b6b"
                                    ></circle>
                        </svg>
{% endif %}
                  <span class="caret" id="user_info" ></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'homepage' request.user.user_profile.id %}">个人主页</a></li>
                <li><a href="{% url 'message' %}">我的消息 <span class="badge live_notify_badge">{{ unread_count }}</span></a></li>
                <li><a href="{% url 'my_favourite' %}">我的收藏</a></li>
                <li><a href="/admin/">后台管理</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">用户功能</li>
                <li><a href="{% url 'modify_info' %}">修改个人信息</a></li>
                <li><a href="{% url 'logout' %}">退出</a></li>
              </ul>
            </li>
          </ul>
        {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'login' %}"><span style="color: #0f74a8">点击登录/注册</span></a></li>
          </ul>
        {% endif %}
          <a type="button" class="btn btn-primary navbar-btn pull-right" href="{% url 'generate' %}">
          写博客
         </a>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    {% block content %}
      <div class="jumbotron">
        <h1>暂无内容，敬请期待</h1>
      </div>
    {% endblock %}

    </div> <!-- /container -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    <script>
        //自定义实时获取未读消息
        function my_special_notification_callback(data){
            unread_count = data['unread_count'];
            if (unread_count == 0) {
                $('#my_svg').hide();
            }else{
                if($('#my_svg').length>0){
                    $('#my_svg').show();
                }else{
                    var newElement=$('<svg viewBox="0 0 8 8" width="8px" height="8px" id="my_svg"><circle cx="4" cy="4" r="4" fill="#ff6b6b"></circle></svg>');
                    $('#user_info').before(newElement);
                }

            }
            $('.live_notify_badge').text(unread_count);
        }
    </script>
{% register_notify_callbacks callbacks='my_special_notification_callback' %}
    {% block js %}{% endblock %}
</body>
</html>
